.background-switcher{
  position: absolute;
  top: 1%;
  left: 1%;
  width: 70%;
}

.background-switcher .thumbnail{
  margin-bottom: 10px;
  cursor: pointer;
}

.btn-circle {
  text-align: center;
  margin-bottom: 10px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 24px;
  line-height: 70px;
  padding: 0;
  padding-left: 2px;
  border-radius: 35px;
}
