<div class="todo-list">
  <div class="well" ng-repeat="task in $ctrl.tasks">
    <div>
      {{task.desription}}
    </div>
    <div>
      {{task.priority}}
    </div>
    <div>
      {{task.completed}} <input type="checkbox" ng-model="task.completed">
    </div>
  </div>
  <div>
    <button type="button" ng-click="$ctrl.removeCompleted()">Remove completed</button>
  </div>
  <form name="taskForm" ng-submit="$ctrl.addTask()">
    <select ng-model="$ctrl.currentTask.priority" ng-options="priority for priority in ['High', 'Low']">
      <option value="">Select the priority</option>
    </select>
    <input ng-model="$ctrl.currentTask.desription">
  </form>
</div>
